<!DOCTYPE html>
<html lang="en" ng-app="app">
<!--
html 태그에 ng-app 지시어을 부여하면, 
하위 모든 요소는 모두 앵귤러 어플리케이션으로 다뤄진다.
앵귤러는 ng-app와 같은 대쉬가 포함된 형태의 작명법을 지원한다.
-->

<head>

 <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <title>Todo AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!--bootstrap-->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  

  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
  <!-- http://cdnjs.com/
  이 태그는 당연하게도 앵귤러js를 로드하고, 더불어 HTML페이지가 모두 로드된 후에 브라우저에 의해 실행되는 콜백을 등록한다.
  콜백이 실행되면, 앵귤러는 ng-app 지시어를 찾게된다. 다이렉티브를 찾으면 ng-app 지시어가 정의된 요소가 존재하는 어플리케이션 돔의 최상위에 부트스트랩을 건다.
  -->

  <link rel="stylesheet" type="text/css" href="todo.css">
  <script src="todo.js"></script>

</head>


<body>

    
      <div ng-controller="TodoController">
          <h2>Total count : {{getTotalTodos()}}</h2>
          <ul class="unstyled">
              <li ng-repeat="todo in todos | nativesort">
                  <input type="checkbox" ng-model="todo.done">
                  <span class="done-{{todo.done}}">{{todo.text}}</span>
              </li>
          </ul>

          <form class="form-horizontal">
              <input type="text" ng-model="formTodoText">
              <button class="btn" ng-click="addTodo()"><i class="icon-plus"></i>Add</button>
          </form>

          <button class="btn-large" ng-click="clearComplated()"><i class="icon-trash"></i>Clear Complated</button>

    </div>
      

</body>
</html>


