                <!--선택 표시-->
                <div class="wire ui-draggable ui-resizable ui-rotatable ui-selected" 
                style="top: 140px; left: 40px; width: 240px; height: 160px;">

                    <div class="ui-resizable-handle ui-resizable-n"></div>
                    <div class="ui-resizable-handle ui-resizable-e"></div>
                    <div class="ui-resizable-handle ui-resizable-s"></div>
                    <div class="ui-resizable-handle ui-resizable-w"></div>
                    <div class="ui-resizable-handle ui-resizable-se"></div>
                    <div class="ui-resizable-handle ui-resizable-sw"></div>
                    <div class="ui-resizable-handle ui-resizable-ne"></div>
                    <div class="ui-resizable-handle ui-resizable-nw"></div>

                    <div class="ui-rotate-handle"></div>
                </div>
                