<!DOCTYPE html>
<html lang="ko" ng-app="documentPaper">

    <head>
        <meta name="google" value="notranslate">
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <!-- <base href="http://localhost/editor/" /> -->
        <!--<script>document.write('<base href="' + document.location + '" />');</script>-->
        <base href="../../" />

        <link rel="stylesheet" href="./libs/bootstrap-3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="./css/basic.css">
        <link rel="stylesheet" href="./editor/css/iframe_templete.css">

        <script src="./libs/jquery/jquery.js"></script>
        <script src="./libs/bootstrap-3.2.0/js/bootstrap.min.js"></script>
        <script src="./libs/angular/angular.1.2.23.js"></script>
        

        <script src="./editor/iframe.js"></script>

    </head>

    <body ng-controller="PaperController">
        <div background style="position: absolute; width: 100%; height: 100%;"></div>
        <div class="screenContainer" container></div>
    </body>

</html>
