
<div ng-class="{ 'transition': transition, 'wire': true, 'ui-draggable': draggable, 'ui-resizable': resizable, 'ui-rotatable': rotatable, 'ui-selected': selected }" 

    ng-attr-style="top: {{boundary.y}}px; left: {{boundary.x}}px;
        width: {{boundary.width}}px; height: {{boundary.height}}px;


        pointer-events: {{editableUID ? 'none' : 'auto'}};
        opacity: {{editableUID ? 0.5 : 1}}">

    <!--transform: rotate({{boundary.angle}}deg);-->

    <!-- class="wire ui-draggable ui-resizable ui-rotatable ui-selected" 
    style="top: 0px; left: 0px; width: 240px; height: 160px; 
        background-color:rgba(255,255,0,0.5);">
     -->
    <!--선택 표시-->
    <!-- ng-attr-style="pointer-events: {{editableUID ? 'none' : 'auto'}};" -->
    <div class="ui-draggable-handle"></div>

    <div class="ui-resizable-handle ui-resizable-n"></div>
    <div class="ui-resizable-handle ui-resizable-e"></div>
    <div class="ui-resizable-handle ui-resizable-s"></div>
    <div class="ui-resizable-handle ui-resizable-w"></div>
    <div class="ui-resizable-handle ui-resizable-se"></div>
    <div class="ui-resizable-handle ui-resizable-sw"></div>
    <div class="ui-resizable-handle ui-resizable-ne"></div>
    <div class="ui-resizable-handle ui-resizable-nw"></div>

    <div class="ui-rotate-handle"></div>

    <!-- 편집모드로 전환 버튼
    style="left: -32px; top: 22px;"
    style="left: -32px; top: 0px;"-->
    <div class="hi-modeHandle edit" style="right: -32px; top: 22px;" ng-click="callAPI('edit')"></div>
    <div class="hi-modeHandle delete" style="right: -32px; top: 0px;" ng-click="callAPI('remove')"></div>

</div>
                