<div class="hi-propertyContainer">

    <div class="property">

        <p> PropertyView : <span class="label label-success" ng-click="pannelToggle();">toggle</span> </p>
        <div style="padding: 10px;">

    <!-- /////////////////////////////////////////////
    // type = document
    ////////////////////////////////////////////// -->

    <div ng-show="type=='document'">
        DOCUMENT PROPERTY

        <form name="form_document">

              <div>UID : {{uid}}</div><br>
              <div>Name : (타이틀)</div><br>

              <div>
              Dimensions : 
                <select>
                  <option ng-selected="paper==='Custom'">Custom</option>
                  <option ng-selected="paper==='A4'">A4</option>
                  <option ng-selected="paper==='A3'">A3</option>
                </select>
                
                width : <input type="number" name="width" ng-model="css.width" min="0" max="3000" required ng-readonly="true"
                ng-class="{error: !form_document.width.$valid}" style="width:45px;">
                height : <input type="number" name="height" ng-model="css.height" min="0" max="3000" required ng-readonly="true"
                ng-class="{error: !form_document.height.$valid}" style="width:45px;">

                <br/>
                방향 : 
                <input type="radio" ng-model="paper.direction" value="landscope">  가로 
                <input type="radio" ng-model="paper.direction" value="portrait">  세로 <br/>
              </div>
              <!-- <div>width : <input type="text" name="width" value="{{css.width}}" required ng-pattern="onlyNumbers"></div> -->
              

        <br><br>
        CONFIGURATION
              <!-- 화면 표시 -->
              <div><input type="checkbox" ng-model="option.display.show_grid"> 그리드 표시</div>
              <div>[*] 가이드라인 표시 (준비중) : <input type="checkbox" ng-model="option.display.show_guide" ng-true-value="Y" ng-false-value="N"></div>
              <div>[*] 눈금자 표시 (준비중) : <input type="checkbox" ng-model="option.display.show_ruler" ng-true-value="Y" ng-false-value="N"></div>
              <div>[*] 도형 윤곽선 표시 (준비중) : <input type="checkbox" ng-model="option.display.show_outline" ng-true-value="Y" ng-false-value="N"></div>
              
              <br>
              <br><div>snap 크기 : <input type="number" name="snap_pixel" ng-model="option.display.snap_pixel" min="0" max="100" required
                ng-class="{error: !form_document.snap_pixel.$valid}"></div>
                <br> snap 적용 : (그리드, 객체, 가이드라인)

                <br><br>
                

        </form>

    </div><!-- END document -->

    <!-- /////////////////////////////////////////////
    // type = unknown
    ////////////////////////////////////////////// -->

    <div ng-show="type == 'unknown'">
        ELEMENT ({{type}}) PROPERTY

        <form name="form_unknown">
              
              <div>UID : {{uid}}</div>
              <br><br>
              <div>type : {{type}}</div>
              <div>ID : 사용자가 지정한 아이디</div>

              <!-- 기본 속성 -->
              <br><br>
              [위치 및 크기]<br>
              <div>x : <input type="number" name="left" ng-model="css.left" min="0" max="3000" required
                ng-class="{error: !form_unknown.left.$valid}"></div>
              <div>y : <input type="number" name="top" ng-model="css.top" min="0" max="3000" required
                ng-class="{error: !form_unknown.top.$valid}"></div>
              <div>width : <input type="number" name="width" ng-model="css.width" min="0" max="3000" required
                ng-class="{error: !form_unknown.width.$valid}"></div>
              <div>height : <input type="number" name="height" ng-model="css.height" min="0" max="3000" required
                ng-class="{error: !form_unknown.height.$valid}"></div>
              
              <!-- CSS 속성 -->
              <br><br>
              [CSS 설정]
              <br>테두리 색상 : 
              <br>배경 색상 : 
              <br>불투명도 : 
              <br>테두리 두께 : 
              <br>테두리 스타일 : 
              <br>테두리 라운딩 : (모서리 4군데 각각 속성 지정)
              <br>오버플로우 : 

              <br>
              <br>여백 :  (4군데 각각 속성 지정)
              <br>패딩 :  (4군데 각각 속성 지정)
        </form>
        
    </div><!-- END unknown -->

    <!-- /////////////////////////////////////////////
    // type = text
    ////////////////////////////////////////////// -->

    <div ng-show="type == 'text'">
        ELEMENT ({{type}}) PROPERTY

        <form name="form_text">
              
              <div>UID : {{uid}}</div>
              <br><br>
              <div>type : {{type}}</div>
              <div>ID : 사용자가 지정한 아이디</div>

              <!-- 기본 속성 -->
              <br><br>
              [위치 및 크기]<br>
              <div>x : <input type="number" name="left" ng-model="css.left" min="0" max="3000" required
                ng-class="{error: !form_text.left.$valid}"></div>
              <div>y : <input type="number" name="top" ng-model="css.top" min="0" max="3000" required
                ng-class="{error: !form_text.top.$valid}"></div>
              <div>width : <input type="number" name="width" ng-model="css.width" min="0" max="3000" required
                ng-class="{error: !form_text.width.$valid}"></div>
              <div>height : <input type="number" name="height" ng-model="css.height" min="0" max="3000" required
                ng-class="{error: !form_text.height.$valid}"></div>
              
              <!-- CSS 속성 -->
              <br><br>
              [CSS 설정]
              <br>테두리 색상 : 
              <br>배경 색상 : 
              <br>불투명도 : 
              <br>테두리 두께 : 
              <br>테두리 스타일 : 
              <br>테두리 라운딩 : (모서리 4군데 각각 속성 지정)
              <br>오버플로우 : 

              <br>
              <br>여백 :  (4군데 각각 속성 지정)
              <br>패딩 :  (4군데 각각 속성 지정)

              <!-- 폰트 설정 -->
              <br><br>
              <br>[폰트 설정] - (메뉴따로 분리)
              <br>태그 선택
              <br>글꼴 (google웹 글꼴 표시)
              <br>크기 : 12px
              <br>색상 : 
              <br>decoration : (bold, italic, underline, line-through)
              <br>paragraph : (left, center, right, justify)

              <br><br>
              <br>[목록 설정] (번호, 기호)
              <br>[intdent]  (내어쓰기, 들여쓰기)
              <br>[하이퍼 링크]

              <!-- Element 설정 표시 -->
              <br><br>
              [Element 설정]
              <br><div>* 텍스트 박스 크기에 맞춤 : <input type="checkbox" ng-model="option.display_size_toText"></div>










<pre>
* 편집
contenteditable="true|false"

* 텍스트 옵션, 
text-align : left|right|center|justify;
text-decoration: none|underline|overline|line-through|initial|inherit;
text-indent: px, pt, cm, em, %
text-overflow: clip|ellipsis|string|initial|inherit; (width 지정되고 overflow: hidden;인 경우)
text-shadow: h-shadow v-shadow blur color|none|initial|inherit;
text-transform: none|capitalize|uppercase|lowercase|initial|inherit; (대소문자 변환)

* 폰트 옵션
font
@font-face
font-family
font-size
font-size-adjust
font-stretch
font-style
font-variant
font-weight

* Paragraphs 옵션
letter-spacing
line-height
list-style
list-style-image
list-style-position
list-style-type

* 여백 (layout)
margin
margin-bottom
margin-left
margin-right
margin-top
padding
padding-bottom
padding-left
padding-right
padding-top

* 객체 align (IE11이상 지원)
justify-content: flex-start|flex-end|center|space-between|space-around|initial|inherit;
</pre>









        </form>

    </div><!-- END text -->


    
        </div><!-- END type Content -->
    </div>
</div>

