<div class="screenContainer">

    <!--// overflow_style : 스크롤 생성 여부 결정-->
    <div class="screen" ng-style="overflow_style" ng-repeat="item in documents">


    <!-- 배경 : 마우스 이벤트를 얻기위해 설치함 (예:선택해지 동작) -->
        <div ng-attr-style="min-width:{{bg.minWidth}}px; min-height:{{bg.minHeight}}px; width: {{bg.width}}px; height: {{bg.height}}px;
            position: absolute; background-color: #CCC; top: 0px; left: 0px;" 
            ng-click="callMethod('onClick_bg')"></div>


    <!---paper의 가로/세로 비율을 유지한 scale 변화
    <div style="position: absolute; background-color:#DDD;width:50%;height:50%" horizontal-center="0" vertical-center="0">
        <iframe id="result" style="width:100%; height:100%;"
            src="http://www.youtube.com/embed/ylLzyHk54Z0" 
            sandbox="allow-scripts allow-pointer-lock allow-same-origin allow-popups allow-forms" allowtransparency="true" allowfullscreen="true" class="result-iframe"></iframe>
    </div>
    -->

<!-- 메뉴 그룹 -->
<div style="position: absolute; top: 0px; left: 0px;">
    <span class="label label-info" ng-click="callMethod('toggleScaleMode')">Toggle ScaleMode</span>

    <span class="label label-info" ng-click="callMethod('setScaleMode', 0.5)">Scale : 0.5</span>
    <span class="label label-info" ng-click="callMethod('setScaleMode', 0.75)">Scale : 0.75</span>
    <span class="label label-info" ng-click="callMethod('setScaleMode', 1.5)">Scale : 1.5</span>
    <span class="label label-info" ng-click="callMethod('setScaleMode', 2)">Scale : 2</span>
    <span class="label label-info" ng-click="callMethod('setScaleMode', 3)">Scale : 3</span>

    <div>Document : {{item.uid}}</div>
    <div>
    scale : {{size.scale}}, width : {{size.sourceWidth}}/{{size.width}}, height : {{size.sourceHeight}}/{{size.height}}, 격자 크기 : {{10/size.scale}}
    </div>
</div>

    <!--///////////////////////////////////////-->
    <!--// 페이지 그리기-->
    <!--///////////////////////////////////////-->

    <!---// size object : paper의 가로/세로 비율을 유지한 scale 변화-->
    <!--전체 스크롤 크기를 가늠하기 위한 dummy-->
    <!-- 
        BUG : angular에서 style에 바인딩하여 값을 지정할때 정상적으로 바인딩되지 않는 경우가 IE에서 발생한다.
        따라서 ng-style을 통해 바인딩 시킨다.
        https://github.com/angular/angular.js/issues/2186
        http://plnkr.co/edit/rl7D9GWSMLehMnFmvHa7?p=preview

        ng-style,  ng-attr-style 둘다 작동한것을 확인함 
        - ng-attr-style은 style attribute를 덮어쓰므로 함께 사용하지 않는것이 좋음
        - ng-style은 style attribute가 있으면 merge시켜줌
        ng-style="{     width: (size.width+'px'), height: (size.height+'px'), left: (paper_horizontalPosition+'px'), top: (paper_verticalPosition + 'px' )     }"
        ng-attr-style="width:{{size.width}}px; height:{{size.height}}px; left: {{paper_horizontalPosition}}px; top: {{paper_verticalPosition}}px;"
     -->
    <div class="transition"
        align-center="{{alignInfo_paper}}" align-result="alignPaper" ng-model="alignPaper"
        
        ng-attr-style="width:{{alignInfo_paper.width}}px; height:{{alignInfo_paper.height}}px; 
            left: {{alignPaper.horizontal}}px; top: {{alignPaper.vertical}}px;
            position: absolute; margin: 35px 35px;">

        
        <div class="paper">

            <!--// 페이지 배경 -->
            <!--배경 패턴-->
            <background scale="{{size.scale}}"></background>

            <!--내용 컨테이너 : paper의 가로/세로 비율을 유지한 scale 변화 적용해야함-->
            <div class="transition"
                ng-attr-style="width:{{size.sourceWidth}}px; height:{{size.sourceHeight}}px; 
                transform: scale({{size.scale}}); transform-origin: 0 0;
                margin: 0px !important; position: absolute;">

                <!--컨텐츠 그룹-->
                <content-iframe id="contentContainer" on-load-complete="onLoadComplete(success)" item="item" size="size"
                    style="position: absolute; width: 100%; height: 100%;"></content-iframe>
                <!-- <content id="contentContainer" on-load-complete="onLoadComplete(success)" item="item"></content> -->
                <!--<div id="contentContainer" class="content" style="width:100%;height:100%;" ng-init="callMethod('getHTMLContent', item)"></div>-->

            </div>

            <!--// Element 편집 UI 표시
             get-boundary="getBoundary(uid)"-->
            <ui-control class="transition"></ui-control>

            <!--로딩중 표시-->
            <loading ng-hide="loadComplete"></loading>



            <!--// 기타 요소 표시 -->


            <!-- 영역표시(투명표시)
            <div class="areaDisplay transparent" style="left: 780px;top: 100px;width: 100px;height: 100px;"></div>
             -->

            <!-- 마우스 선택영역 표시
            <div class="areaDisplay selector" style="left: 500px;top: 100px;width: 100px;height: 100px;"></div>
             -->

            <!--snap 선
            <div id="guide-h" class="guide horizontal" style="top: 200px; display: block;"></div>
            <div id="guide-v" class="guide vertical" style="left: 500px; display: block;"></div>
             -->

            <!-- 편집모드로 전환 버튼-->
            <div class="modeHandle edit"></div>
            <div class="modeHandle play" style="top:0"></div>

            <!--선택 표시 핸들러 컨테이너
            <div ui-controller class="content"></div>
            -->
        
        <!--paper end-->
        </div>

    </div>

    <!--///////////////////////////////////////-->
    <!--// 페이지 그리기 끝-->
    <!--///////////////////////////////////////-->


    </div>
    <!-- <div id="temp"></div> -->
</div>