<div class="screenContainer">

    <!--// overflow_style : 스크롤 생성 여부 결정-->
    <div class="screen" ng-style="overflow_style" ng-repeat="item in documents" uid="{{item.uid}}">
    


    <!--
    <ul>
        <li ng-repeat="item in tree">
            {{$index + 1}} : {{document.items[item.uid].document}}
        </li>
    </ul>
    -->
        


    <!---paper의 가로/세로 비율을 유지한 scale 변화 transition: all 0.2s ease 0s;
    <div style="position: absolute; background-color:#DDD;width:50%;height:50%" horizontal-center="0" vertical-center="0">
        <iframe id="result" style="width:100%; height:100%;"
            src="http://www.youtube.com/embed/ylLzyHk54Z0" 
            sandbox="allow-scripts allow-pointer-lock allow-same-origin allow-popups allow-forms" allowtransparency="true" allowfullscreen="true" class="result-iframe"></iframe>
    </div>
    -->

    <span class="label label-info" ng-click="callAPI('toggleScaleMode')">Toggle ScaleMode</span>
    <div>Document : {{item.uid}}</div>
    <div>
    scale : {{size.scale}}, width : {{size.sourceWidth}}/{{size.width}}, height : {{size.sourceHeight}}/{{size.height}}, 격자 크기 : {{10/size.scale}}
    </div>
    

    <!---// size object : paper의 가로/세로 비율을 유지한 scale 변화-->
    <!--전체 스크롤 크기를 가늠하기 위한 dummy-->
    <!-- 
        BUG : angular에서 style에 바인딩하여 값을 지정할때 정상적으로 바인딩되지 않는 경우가 IE에서 발생한다.
        따라서 ng-style을 통해 바인딩 시킨다.
        https://github.com/angular/angular.js/issues/2186
        http://plnkr.co/edit/rl7D9GWSMLehMnFmvHa7?p=preview

        ng-style,  ng-attr-style 둘다 작동한것을 확인함
     -->
    <div align-center="{horizontal:'paper_horizontalPosition', vertical:'paper_verticalPosition'}" size="size"
        ng-class="{transition: (paper_horizontalPosition && paper_verticalPosition)}"

        ng-style="{     width: (size.width+'px'), height: (size.height+'px'), left: (paper_horizontalPosition+'px'), top: (paper_verticalPosition + 'px' )     }"

        style="position: absolute; margin: 35px 35px;pointer-events:auto;">

            

        <!--///////////////////////////////////////-->
        <!--// 페이지 그리기-->
        <!--///////////////////////////////////////-->

        <div class="paper">

            <!--//----------------------------------------->
            <!--// 페이지 배경 -->
            <!--//----------------------------------------->

            <!--배경 패턴-->
            <div class="background">
                <svg zoomAndPan="disable" currentscale="1" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" style="position: absolute;">
                    <pattern id="grid-pattern" patternUnits="userSpaceOnUse" x="0" y="0" ng-attr-width="{{ratio.r100}}" ng-attr-height="{{ratio.r100}}">
                    <g id="sharp" transform="translate(-0.5,-0.5)">
                        <line class="lineH" stroke="#888" stroke-width="{{stroke}}" ng-attr-x1="{{ratio.r0}}" ng-attr-x2="{{ratio.r100}}" ng-attr-y1="{{ratio.r10}}" ng-attr-y2="{{ratio.r10}}" ></line>
                        <line class="lineH" stroke="#888" stroke-width="{{stroke}}" ng-attr-x1="{{ratio.r0}}" ng-attr-x2="{{ratio.r100}}" ng-attr-y1="{{ratio.r20}}" ng-attr-y2="{{ratio.r20}}" ></line>
                        <line class="lineH" stroke="#888" stroke-width="{{stroke}}" ng-attr-x1="{{ratio.r0}}" ng-attr-x2="{{ratio.r100}}" ng-attr-y1="{{ratio.r30}}" ng-attr-y2="{{ratio.r30}}"></line>
                        <line class="lineH" stroke="#888" stroke-width="{{stroke}}" ng-attr-x1="{{ratio.r0}}" ng-attr-x2="{{ratio.r100}}" ng-attr-y1="{{ratio.r40}}" ng-attr-y2="{{ratio.r40}}" ></line>
                        <line class="lineH" stroke="#888" stroke-width="{{stroke}}" ng-attr-x1="{{ratio.r0}}" ng-attr-x2="{{ratio.r100}}" ng-attr-y1="{{ratio.r50}}" ng-attr-y2="{{ratio.r50}}"></line>
                        <line class="lineH" stroke="#888" stroke-width="{{stroke}}" ng-attr-x1="{{ratio.r0}}" ng-attr-x2="{{ratio.r100}}" ng-attr-y1="{{ratio.r60}}" ng-attr-y2="{{ratio.r60}}" ></line>
                        <line class="lineH" stroke="#888" stroke-width="{{stroke}}" ng-attr-x1="{{ratio.r0}}" ng-attr-x2="{{ratio.r100}}" ng-attr-y1="{{ratio.r70}}" ng-attr-y2="{{ratio.r70}}"></line>
                        <line class="lineH" stroke="#888" stroke-width="{{stroke}}" ng-attr-x1="{{ratio.r0}}" ng-attr-x2="{{ratio.r100}}" ng-attr-y1="{{ratio.r80}}" ng-attr-y2="{{ratio.r80}}" ></line>
                        <line class="lineH" stroke="#888" stroke-width="{{stroke}}" ng-attr-x1="{{ratio.r0}}" ng-attr-x2="{{ratio.r100}}" ng-attr-y1="{{ratio.r90}}" ng-attr-y2="{{ratio.r90}}" ></line>
                        <line class="lineH" stroke="#222" stroke-width="{{stroke}}" ng-attr-x1="{{ratio.r0}}" ng-attr-x2="{{ratio.r100}}" ng-attr-y1="{{ratio.r100}}" ng-attr-y2="{{ratio.r100}}"></line>

                        <line class="lineV" stroke="#888" stroke-width="{{stroke}}" ng-attr-x1="{{ratio.r10}}" ng-attr-x2="{{ratio.r10}}" ng-attr-y1="{{ratio.r0}}" ng-attr-y2="{{ratio.r100}}"></line>
                        <line class="lineV" stroke="#888" stroke-width="{{stroke}}" ng-attr-x1="{{ratio.r20}}" ng-attr-x2="{{ratio.r20}}" ng-attr-y1="{{ratio.r0}}" ng-attr-y2="{{ratio.r100}}"></line>
                        <line class="lineV" stroke="#888" stroke-width="{{stroke}}" ng-attr-x1="{{ratio.r30}}" ng-attr-x2="{{ratio.r30}}" ng-attr-y1="{{ratio.r0}}" ng-attr-y2="{{ratio.r100}}"></line>
                        <line class="lineV" stroke="#888" stroke-width="{{stroke}}" ng-attr-x1="{{ratio.r40}}" ng-attr-x2="{{ratio.r40}}" ng-attr-y1="{{ratio.r0}}" ng-attr-y2="{{ratio.r100}}"></line>
                        <line class="lineV" stroke="#888" stroke-width="{{stroke}}" ng-attr-x1="{{ratio.r50}}" ng-attr-x2="{{ratio.r50}}" ng-attr-y1="{{ratio.r0}}" ng-attr-y2="{{ratio.r100}}"></line>
                        <line class="lineV" stroke="#888" stroke-width="{{stroke}}" ng-attr-x1="{{ratio.r60}}" ng-attr-x2="{{ratio.r60}}" ng-attr-y1="{{ratio.r0}}" ng-attr-y2="{{ratio.r100}}"></line>
                        <line class="lineV" stroke="#888" stroke-width="{{stroke}}" ng-attr-x1="{{ratio.r70}}" ng-attr-x2="{{ratio.r70}}" ng-attr-y1="{{ratio.r0}}" ng-attr-y2="{{ratio.r100}}"></line>
                        <line class="lineV" stroke="#888" stroke-width="{{stroke}}" ng-attr-x1="{{ratio.r80}}" ng-attr-x2="{{ratio.r80}}" ng-attr-y1="{{ratio.r0}}" ng-attr-y2="{{ratio.r100}}"></line>
                        <line class="lineV" stroke="#888" stroke-width="{{stroke}}" ng-attr-x1="{{ratio.r90}}" ng-attr-x2="{{ratio.r90}}" ng-attr-y1="{{ratio.r0}}" ng-attr-y2="{{ratio.r100}}"></line>
                        <line class="lineV" stroke="#222" stroke-width="{{stroke}}" ng-attr-x1="{{ratio.r100}}" ng-attr-x2="{{ratio.r100}}" ng-attr-y1="{{ratio.r0}}" ng-attr-y2="{{ratio.r100}}"></line>
                    </g>
                    </pattern>
                    
                    <rect id="grid" fill="url(#grid-pattern)" width="100%" height="100%" opacity="0.1"></rect>
                </svg>
            </div>
            <!--배경 패턴 끝-->

            <!--//----------------------------------------->
            <!--// 페이지 내용 -->
            <!--//----------------------------------------->

            <!--내용 컨테이너 :  ng-bind-html="getHTMLContent(item)"
            paper의 가로/세로 비율을 유지한 scale 변화 적용해야함
            size.width * size.scale 로 크기 지정 후 scale만큼 transform 적용
            -->
            <div ui-canvas
                style="width:{{size.sourceWidth}}px;height:{{size.sourceHeight}}px;
                margin: -1px; display:inline-block;
                background-color:rgba(255,255,0,0);
                transform-origin: 0 0; 
                transform: scale({{size.scale}});">

                <!--컨텐츠 그룹-->
                <div id="contentContainer" class="content" style="width:100%;height:100%;" ng-init="getHTMLContent(item)">
                    <!-- 
                    {{$index}} : {{document.items[item.uid].document}} 
                    {{item.uid.substring(item.uid.lastIndexOf('-')+1)}}
                    <p>
                        {{item.document.content}}
                    </p>
                    -->
                </div>

            </div>
            <!--내용 컨테이너 끝-->

            <!--//----------------------------------------->
            <!--// 페이지 인터렉션 -->
            <!--//----------------------------------------->

            <!--로딩중 표시-->
            <!-- 
            ng-style="{     left: (loading_horizontalPosition+'px'), top: (loading_verticalPosition+'px' ), visibility: (loading_visible)     }"
            or
            ng-attr-style="left:{{loading_horizontalPosition}}px; top:{{loading_verticalPosition}}px; visibility:{{loading_visible}};"
            둘다 작동함
             -->
            <div class="loading" 
                align-center="{horizontal:'loading_horizontalPosition', vertical:'loading_verticalPosition', visibleDelay: 'loading_visible', visibleDelayTime:500}"

                ng-class="{transition: (loading_horizontalPosition && loading_verticalPosition)}"

                ng-attr-style="left:{{loading_horizontalPosition}}px; top:{{loading_verticalPosition}}px; visibility:{{loading_visible}};"

                ng-hide="loadComplete">
                    로딩중
            </div>

            <!-- 영역표시(투명표시)
            <div class="areaDisplay transparent" style="left: 780px;top: 100px;width: 100px;height: 100px;"></div>
             -->

            <!-- 마우스 선택영역 표시
            <div class="areaDisplay selector" style="left: 500px;top: 100px;width: 100px;height: 100px;"></div>
             -->

            <!--snap 선
            <div id="guide-h" class="guide horizontal" style="top: 200px; display: block;"></div>
            <div id="guide-v" class="guide vertical" style="left: 500px; display: block;"></div>
             -->

            <!-- 편집모드로 전환 버튼
            <div class="modeHandle edit"></div>-->
            <!--<div class="modeHandle play" style="top:0"></div>-->

            <!--선택 표시 핸들러 컨테이너
            <div ui-controller class="content"></div>
            -->
        
        <!--paper end-->
        </div>

    </div>

    <!--///////////////////////////////////////-->
    <!--// 페이지 그리기 끝-->
    <!--///////////////////////////////////////-->

    </div>
</div>