
            
            <div class="hi-background transition">
            <!--배경 패턴-->

                <svg zoomAndPan="disable" currentscale="1" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" style="position: absolute;">
                    <pattern id="grid-pattern" patternUnits="userSpaceOnUse" x="0" y="0" ng-attr-width="{{ratio.r100}}" ng-attr-height="{{ratio.r100}}">
                    <g id="sharp" transform="translate(-0.5,-0.5)">
                        <line class="lineH" stroke="#888" stroke-width="{{stroke}}" ng-attr-x1="{{ratio.r0}}" ng-attr-x2="{{ratio.r100}}" ng-attr-y1="{{ratio.r10}}" ng-attr-y2="{{ratio.r10}}" ></line>
                        <line class="lineH" stroke="#888" stroke-width="{{stroke}}" ng-attr-x1="{{ratio.r0}}" ng-attr-x2="{{ratio.r100}}" ng-attr-y1="{{ratio.r20}}" ng-attr-y2="{{ratio.r20}}" ></line>
                        <line class="lineH" stroke="#888" stroke-width="{{stroke}}" ng-attr-x1="{{ratio.r0}}" ng-attr-x2="{{ratio.r100}}" ng-attr-y1="{{ratio.r30}}" ng-attr-y2="{{ratio.r30}}"></line>
                        <line class="lineH" stroke="#888" stroke-width="{{stroke}}" ng-attr-x1="{{ratio.r0}}" ng-attr-x2="{{ratio.r100}}" ng-attr-y1="{{ratio.r40}}" ng-attr-y2="{{ratio.r40}}" ></line>
                        <line class="lineH" stroke="#888" stroke-width="{{stroke}}" ng-attr-x1="{{ratio.r0}}" ng-attr-x2="{{ratio.r100}}" ng-attr-y1="{{ratio.r50}}" ng-attr-y2="{{ratio.r50}}"></line>
                        <line class="lineH" stroke="#888" stroke-width="{{stroke}}" ng-attr-x1="{{ratio.r0}}" ng-attr-x2="{{ratio.r100}}" ng-attr-y1="{{ratio.r60}}" ng-attr-y2="{{ratio.r60}}" ></line>
                        <line class="lineH" stroke="#888" stroke-width="{{stroke}}" ng-attr-x1="{{ratio.r0}}" ng-attr-x2="{{ratio.r100}}" ng-attr-y1="{{ratio.r70}}" ng-attr-y2="{{ratio.r70}}"></line>
                        <line class="lineH" stroke="#888" stroke-width="{{stroke}}" ng-attr-x1="{{ratio.r0}}" ng-attr-x2="{{ratio.r100}}" ng-attr-y1="{{ratio.r80}}" ng-attr-y2="{{ratio.r80}}" ></line>
                        <line class="lineH" stroke="#888" stroke-width="{{stroke}}" ng-attr-x1="{{ratio.r0}}" ng-attr-x2="{{ratio.r100}}" ng-attr-y1="{{ratio.r90}}" ng-attr-y2="{{ratio.r90}}" ></line>
                        <line class="lineH" stroke="#222" stroke-width="{{stroke}}" ng-attr-x1="{{ratio.r0}}" ng-attr-x2="{{ratio.r100}}" ng-attr-y1="{{ratio.r100}}" ng-attr-y2="{{ratio.r100}}"></line>

                        <line class="lineV" stroke="#888" stroke-width="{{stroke}}" ng-attr-x1="{{ratio.r10}}" ng-attr-x2="{{ratio.r10}}" ng-attr-y1="{{ratio.r0}}" ng-attr-y2="{{ratio.r100}}"></line>
                        <line class="lineV" stroke="#888" stroke-width="{{stroke}}" ng-attr-x1="{{ratio.r20}}" ng-attr-x2="{{ratio.r20}}" ng-attr-y1="{{ratio.r0}}" ng-attr-y2="{{ratio.r100}}"></line>
                        <line class="lineV" stroke="#888" stroke-width="{{stroke}}" ng-attr-x1="{{ratio.r30}}" ng-attr-x2="{{ratio.r30}}" ng-attr-y1="{{ratio.r0}}" ng-attr-y2="{{ratio.r100}}"></line>
                        <line class="lineV" stroke="#888" stroke-width="{{stroke}}" ng-attr-x1="{{ratio.r40}}" ng-attr-x2="{{ratio.r40}}" ng-attr-y1="{{ratio.r0}}" ng-attr-y2="{{ratio.r100}}"></line>
                        <line class="lineV" stroke="#888" stroke-width="{{stroke}}" ng-attr-x1="{{ratio.r50}}" ng-attr-x2="{{ratio.r50}}" ng-attr-y1="{{ratio.r0}}" ng-attr-y2="{{ratio.r100}}"></line>
                        <line class="lineV" stroke="#888" stroke-width="{{stroke}}" ng-attr-x1="{{ratio.r60}}" ng-attr-x2="{{ratio.r60}}" ng-attr-y1="{{ratio.r0}}" ng-attr-y2="{{ratio.r100}}"></line>
                        <line class="lineV" stroke="#888" stroke-width="{{stroke}}" ng-attr-x1="{{ratio.r70}}" ng-attr-x2="{{ratio.r70}}" ng-attr-y1="{{ratio.r0}}" ng-attr-y2="{{ratio.r100}}"></line>
                        <line class="lineV" stroke="#888" stroke-width="{{stroke}}" ng-attr-x1="{{ratio.r80}}" ng-attr-x2="{{ratio.r80}}" ng-attr-y1="{{ratio.r0}}" ng-attr-y2="{{ratio.r100}}"></line>
                        <line class="lineV" stroke="#888" stroke-width="{{stroke}}" ng-attr-x1="{{ratio.r90}}" ng-attr-x2="{{ratio.r90}}" ng-attr-y1="{{ratio.r0}}" ng-attr-y2="{{ratio.r100}}"></line>
                        <line class="lineV" stroke="#222" stroke-width="{{stroke}}" ng-attr-x1="{{ratio.r100}}" ng-attr-x2="{{ratio.r100}}" ng-attr-y1="{{ratio.r0}}" ng-attr-y2="{{ratio.r100}}"></line>
                    </g>
                    </pattern>
                    
                    <rect id="grid" fill="url(#grid-pattern)" width="100%" height="100%" opacity="0.1"></rect>
                </svg>

            </div>
                