/*////////////////////////////////////////////////////////////////////////////////

    * 
    * Developer : (c) Dong-il Park (pdi1066@naver.com)
    * Project : HI-STORY (https://github.com/vulcan9/history)
    * Description : application CSS
    *
    * http://getbootstrap.com/components/
    * http://getbootstrap.com/css/

////////////////////////////////////////////////////////////////////////////////*/

.applicationContainer{
    position: absolute;
    /*border: 1px solid #FF0000;*/
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 10px;

    /*overflow: hidden;*/
}

.toolContainer{
    position: relative;
    /*border: 1px solid #FF0000;*/
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

/*//////////////////////////////////////
// Split Layout
//////////////////////////////////////*/

.dock{
    position: relative;
    display: inline-block;
    overflow: auto;
    
    width: 100%;
    height: 100%;
    min-width: 20px;
    min-height: 20px;
}

.dock.top{
    background-color: rgba(255,0,0,1);
    width: 100%;
    height: 100%;
}

.dock.left{
    background-color: rgba(255,255,0,0.8);
    float: left;
    width: 100px;
    height: 100%;
}

.dock.center{
    background-color: rgba(150,150,255,0.6);
    width: calc(100% - 200px);
    height: 100%;
}

.dock.right{
    background-color: rgba(255,0,255,0.4);
    float: right;
    width: 100px;
    height: 100%;
}

.dock.bottom{
    clear: both;
    background-color: rgba(0,255,255,0.2);

}

/*//////////////////////////////////////
// Nav Bar (메뉴바 부분)
//////////////////////////////////////*/

.menuContainer{
    position: relative;
}

/* 높이 조절
.navbar{
    min-height: 25px;
}
.navbar-brand {
    height: 25px;
    padding: 10px 10px;
    line-height: 20px;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}
*/

.navbar .container{
    width: 100%;
}

/*//////////////////////////////////////
// 프로그래스바 (% 표시)
//////////////////////////////////////*/

.progressContainer{
    position: relative;
    z-index: 1001;
}
/* 로딩바 */
.progress{
    height: 5px;
    margin-bottom: 0px;
    background-color: #D5EAFA;
    border-radius: 0px;
    overflow: visible;

    box-shadow: 0 1px 2px rgba(0,0,0,0);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0);
}
.progress-bar{
}
.progress-text{
    float: right;;
    color: #428bca;
    margin-top: 3px;
}

/*//////////////////////////////////////
// 상태 표시줄
//////////////////////////////////////*/

.statusContainer{
    position: relative;
    /*border: 1px solid #FF0000;*/
    width: 100%;
    bottom: 0px;
}
.status{
    background: #e7e7e7;
    bottom: 0px;
    width: 100%;
    padding: 10px;
}

/*//////////////////////////////////////
// Tree
//////////////////////////////////////*/

.treeContainer{
    position: relative;
    /*overflow: hidden;*/
    min-width: 250px;
    min-height: 250px;
}

.tree{
    position: relative;
    /*border: 1px solid #FF0000;*/
    width: 100%;
    height: 100%;
    background: #333;
    padding: 20px;
}

/*------------------------------------
// Paper
------------------------------------*/

.tree .paper {
    /*position: absolute;*/
    display: inline-block;
    
    min-width: 100px;
    min-height: 70px;
    padding: 0px 0px;
    margin: 15px 15px;
    
    font-size: 14px;
    text-align: left;
    
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    
    /*border: 1px solid #ccc;*/
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);

    /*background: #333;*/
}

.tree .paper .content{
    position: absolute;
    /*border: 1px solid #FF0000;*/
    padding: 10px 10px;
    cursor: crosshair;
}

/*//////////////////////////////////////
// screen
//////////////////////////////////////*/

.screenContainer{
    position: relative;
    overflow: hidden;
    display: inline-block;
    /*JS코드에서 위치, 크기 동적으로 바뀜*/
}
.screen{
    /*border: 1px solid #FF0000;*/
    width: 100%;
    height: 100%;
    /*background: #333;*/
}

/*------------------------------------
// Paper
------------------------------------*/

.screen .paper {
    position: absolute;
    display: inline-block;
    
    min-width: 800px;
    min-height: 600px;
    padding: 0px 0px;
    margin: 35px 35px;
    
    font-size: 14px;
    text-align: left;
    
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    
    /*border: 1px solid #ccc;*/
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);

    /*background: #333;*/
}

.screen .paper .background{
    position: absolute;
    padding: 0px 0px;
    overflow:hidden;
    width:100%;
    height:100%;
    /*1px 눈금위치 차이남*/
    margin: 1px;
}

.screen .paper .content{
    position: absolute;
    /*border: 1px solid #FF0000;*/
    padding: 10px 10px;
    cursor: crosshair;
}

/*------------------------------------
// 편집모드 전환 버튼
------------------------------------*/

.screen .paper .modeHandle{
    position: absolute;
    width: 20px;
    height: 20px;
    right: -22px;
    top: -22px;
    background: transparent;
    /*display: block !important;*/
    
    color: #bbb;
    border: 2px solid #bbb;
    
    border-radius: 2px;
    z-index: 2 !important;
    cursor: cell;
    text-align: center;

    font-family: 'Glyphicons Halflings';
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}
.screen .paper .modeHandle:hover{
    color: #666;
    border: 2px solid #666;
}

.screen .paper .modeHandle.edit:after{
    content: "\270f";
}
.screen .paper .modeHandle.play:after{
    content: "\e014";
}

/*//////////////////////////////////////
// ui-resize, ui-selected
//////////////////////////////////////*/

.wire{
  position: absolute;
  z-index: auto;
  padding: 0;

  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

/*보이기, 감추기*/
.wire{
  display:none !important;
}
.wire.ui-selected{
    display:block !important;
}

/*------------------------------------
// ui-selected
------------------------------------*/

.ui-selected{
    z-index: 9999;
}

/*선택 상태 표시*/
.ui-selected:after   {
    position:absolute;
    display:block;
    content:"";
    padding:4px;
    width:100%;
    height:100%;
    
    border:1px dashed #E42806;
    z-index: 9999 !important;
    top:0px;
    left:0px;
    pointer-events:none;
}
.ui-selected:not(.ui-draggable):hover{
    cursor:default !important;
}

/*
.ui-selected.hastext:after{
    pointer-events:auto !important;
}
*/

.ui-draggable {
    cursor: move;
}

/*------------------------------------
// resize handle
------------------------------------*/

.ui-resizable-handle {
    position: absolute; 
    font-size: 0px; 
    z-index: 9999;
}

/*모서리(dot handle)*/
.ui-resizable-n { cursor: n-resize; width: 100%; height: 7px; top: -5px; left: 0px; }
.ui-resizable-s { cursor: s-resize; width: 100%; height: 7px; bottom: -5px; left: 0px; }
.ui-resizable-e { cursor: e-resize; width: 7px; height: 100%; right: -5px; top: 0px; }
.ui-resizable-w { cursor: w-resize; width: 7px; height: 100%; left: -5px; top: 0px; }
.ui-resizable-n, .ui-resizable-s , .ui-resizable-e , .ui-resizable-w{
    background-color: rgba(255,0,0,0.1);
}
/*변 (line handle)*/
.ui-resizable-se { cursor: se-resize; width: 8px; height: 8px; right: -10px; bottom: -10px; }
.ui-resizable-sw { cursor: sw-resize; width: 8px; height: 8px; left: -10px; bottom: -10px; }
.ui-resizable-nw { cursor: nw-resize; width: 8px; height: 8px; left: -10px; top: -10px; }
.ui-resizable-ne { cursor: ne-resize; width: 8px; height: 8px; right: -10px; top: -10px;}
.ui-resizable-se, .ui-resizable-sw , .ui-resizable-nw , .ui-resizable-ne{
    background-color: rgba(255,0,0,0.1);
}

/*보이기, 감추기*/
.ui-rotate-handle,
.ui-resizable-handle,
.ui-resizable-disabled .ui-resizable-handle, 
.ui-resizable-autohide .ui-resizable-handle,
.ui-resizable-disabled .ui-rotate-handle,
.ui-resizable-autohide .ui-rotate-handle { 
    display: none; 
}
.ui-resizable .ui-resizable-handle{
    display:block;
 }

.ui-rotatable .ui-rotate-handle {
    display:block;
 }

/*------------------------------------
// rotate handle
------------------------------------*/

.ui-rotate-handle{
    /*background-color: rgba(0,0,0,0.5);*/
    border-radius: 10px;
    width: 14px;
    height: 14px;
    margin: -20px auto 0;
    color: rgba(255,0,0,0.3);
}
.ui-rotate-handle:hover{
    cursor: default;
    color: rgba(255,0,0,1);
}
.ui-rotate-handle:after{
    font-family: 'Glyphicons Halflings';
    content: "\e030";
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
}

/*------------------------------------
// 선택 상태일때
------------------------------------*/

.ui-selected .ui-resizable-handle,
.ui-selected .ui-rotate-handle {
    z-index: 9999;
}

.ui-selected .ui-resizable-se , 
.ui-selected .ui-resizable-ne , 
.ui-selected .ui-resizable-sw , 
.ui-selected .ui-resizable-nw{
    border:1px solid rgba(255,0,0,0.3);
}
.ui-selected .ui-resizable-se:hover , 
.ui-selected .ui-resizable-ne:hover , 
.ui-selected .ui-resizable-sw:hover , 
.ui-selected .ui-resizable-nw:hover {
    border:1px solid rgba(255,0,0,1);
}

/*//////////////////////////////////////
//  드래그한 영역 표시
//////////////////////////////////////*/

/*영역 표시 (크기 표시)*/
.areaDisplay {
    background-color: rgba(0, 0, 0, 0.145098);
    z-index: 9999;
    position: absolute;
}

/*투명 표시*/
.areaDisplay.transparent {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIUlEQVQYV2NkYGCQBGJ08BxdgHGIKMTiF0wPgjwz2BUCADTeBYguWvyCAAAAAElFTkSuQmCC);
}

/*마우스 드래그 선택영역 표시*/
.areaDisplay.selector {
    border: 1px dashed #444;
    background: transparent !important;
}

/*//////////////////////////////////////
//  Snap 라인 표시
//////////////////////////////////////*/

.guide {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
}
.guide.vertical {
    border-left: 1px solid #FFDCD6;
    border-left: 1px solid rgba(255, 99, 71, 0.5);
    height: 100%;
}
.guide.horizontal {
    border-top: 1px solid #FFDCD6;
    border-top: 1px solid rgba(255, 99, 71, 0.5);
    width: 100%;
}