/*////////////////////////////////////////////////////////////////////////////////

    * 
    * Developer : (c) Dong-il Park (pdi1066@naver.com)
    * Project : HI-STORY (https://github.com/vulcan9/history)
    * Description : application CSS
    *
    * http://getbootstrap.com/components/
    * http://getbootstrap.com/css/

////////////////////////////////////////////////////////////////////////////////*/

* {
    margin: 0;
    padding: 0;
    border: 0;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;

    font-family: '맑은 고딕', '나눔고딕';
    /*color: #4b4d4c;*/
    font-size: 12px;
    /*vertical-align: baseline;*/
    /*vertical-align: middle;*/

    list-style: none;
}

body {
    /*App 로드 완료 후 visible로 바뀜*/
    opacity: 0;
    width: 100%;
    height: 100%;
    /*line-height: 1;*/

    /*
    background: rgb(215, 215, 215);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
    background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background: -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background: -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background: -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background: radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    */
}

/*
@media (min-width: 992px)
.container {
    width: 970px;
}
@media (min-width: 768px)
.container {
    width: 750px;
}
*/

/* HTML5 display-role reset for older browsers*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}

ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}


b, strong {font-weight: bold;}
i, em {font-style: italic;}



/*//////////////////////////////////////
// UI Bootstrap 커스트마이징
// http://angular-ui.github.io/bootstrap/
//////////////////////////////////////*/

.btn{
    min-width: 80px;
}
line-height: 130%;