/*////////////////////////////////////////////////////////////////////////////////

    * 
    * Developer : (c) Dong-il Park (pdi1066@naver.com)
    * Project : HI-STORY (https://github.com/vulcan9/history)
    * Description : Space CSS
    *
    * https://github.com/vulcan9

////////////////////////////////////////////////////////////////////////////////*/

/*
screen에 적용된 padding값에 의해 50% 계산치와  실제계산 값과 오차가 발생할 수 있다.
50% --> px Ehsms px --> 50% 변환시 위치를 보정해줘야 한다.
*/
.u-screen{
    position:absolute;
    /* padding은 0이 아니면 이동 좌표가 padding만큼 틀어짐*/
    padding: 0px;
    min-width: 300px;
    min-height: 300px;
    
    width: 100%;
    height: 100%;
    left : 0px;
    top: 0px;
    overflow: hidden;

    /*background:#353535;*/
    /*background:#FFFFFF;*/
}
.u-viewport{
    /*position:relative;
    border: 1px dotted red;*/
}
.u-canvas{
    /*position:absolute;
    border: 1px dotted blue;*/
}

/* 기본 문서 표현 */
.u-document {
    
    min-width: 900px;
    min-height: 600px;

    position: relative;
    padding: 40px;
    /*양쪽 margin은 화면 중앙위치 계산에 영향을 준다.*/
    margin: 20px auto;
    /*
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    */
    font-family: 'Nanum Gothic', 'PT Serif', georgia, serif;
    font-size: 18px;
    line-height: 1.5;
}

.u-document { 
    opacity: 0.2;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(100,100,100,1);
}

.u-document:hover { 
    opacity: 0.5;

    box-shadow:         0px 0px 20px -5px #000000;
    -webkit-box-shadow: 0px 0px 20px -5px #000000;
    -moz-box-shadow:    0px 0px 20px -5px #000000;
}
.u-document.active, .u-document.active:hover {
    opacity: 1;
    background: rgba(255, 255, 255, 1);
    
    box-shadow:         0px 0px 20px -5px #000000;
    -webkit-box-shadow: 0px 0px 20px -5px #000000;
    -moz-box-shadow:    0px 0px 20px -5px #000000;
}

.u-canvas #overview { display: none }
/*
.active-overview .u-document {
    opacity: 1;
    cursor: pointer;
}
*/




/*
h1{font-size: 32px;}
a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.1em;
    color: #2ba900;

    border-radius: 0.2em;

    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

a:hover,
a:focus {
    background: rgb(0, 208, 255);
    color: #FFF;
    text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
}
*/



