    
    <div class="modal-header">
        <span class="close glyphicon glyphicon-remove" style="font-size: 12px;" ng-click="cancel()"></span>
        <!--<button type="button" class="close glyphicon glyphicon-remove" style="font-size: 12px;" ng-click="cancel()"></button>-->
        <h3 class="modal-title">{{title}}</h3>
    </div>

    <div class="modal-body"></div>
    
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="yes()">Yes</button>
        <button class="btn btn-default" ng-click="no()">No</button>
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
