
<h3>Login</h3>
<section ng-controller='LoginController'>


    <!-- 
    http://mobicon.tistory.com/406 
    http://mobicon.tistory.com/406

http://bootsnipp.com/snippets/featured/login-via
https://github.com/lynndylanhurley/ng-token-auth#authsubmitregistration
https://github.com/lynndylanhurley/ng-token-auth
http://ng-token-auth-demo.herokuapp.com/#/

http://ngmodules.org/modules/satellizer
    -->
    <ul class="nav navbar-nav navbar-right">
      <li ng-hide="false">
        <a href="#" ui-sref="login">Login</a>
      </li>
      <li ng-show="false">
        <a href="#" ng-click="logout()">
          [{{ currentUser.name }}] Logout
        </a>
      </li>
    </ul>


    <h1>{{_name}}</h1>
    <version></version>
</section>



