<div ng-controller="ToolController" class="toolContainer" layout>


    
<div class="dock top">
    <progress-view></progress-view>
    <menu-view></menu-view>
</div>

<div class="dock left">
    <tree-view></tree-view>
</div>

<div class="dock center">
    <screen-view></screen-view>
</div>

<div class="dock right">
</div>

<div class="dock bottom">
    <status-view></status-view>
</div>

<!--




    
    
    
-->
    



<!--
    <div>
            
            
            <hr>
            <timeline-view></timeline-view>
            <hr>
            <property-view></property-view>

    </div>
-->

</div>



<!--
<script type="text/ng-template" id="notice.html">
    
    <div class="modal-header">
        <span class="close glyphicon glyphicon-remove" style="font-size: 12px;" ng-click="cancel()"></span>
        <h3 class="modal-title">{{title}}</h3>
    </div>

    <div class="modal-body"></div>
    
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="yes()">Yes</button>
        <button class="btn btn-default" ng-click="no()">No</button>
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>

</script>
-->

