
<div ng-controller='DashboardController'>
    <h3>Project</h3>
    
    <!-- 로그인이 필요한 페이지에 삽입한다. -->
    <div style="position: fixed; right: 0px; top: 0px;">

        <ul class="nav navbar-nav">
            <li><a ng-click="go_home()">Home</a></li>
            <!-- <li><a ng-click="go_dashboard()">Project</a></li> -->
            <li><a ng-click="go_back()">Back</a></li>
        </ul>

        <ul class="nav navbar-nav">
            <li ng-if="auth_isAuthenticated()"><a ng-click="go_profile()">Profile</a></li>
        </ul>

        <ul ng-if="!auth_isAuthenticated()" class="nav navbar-nav pull-right">
            <li><a ng-click="go_login()">Login</a></li>
            <li><a ng-click="go_signup()">Sign up</a></li>
        </ul>
        
        <ul ng-if="auth_isAuthenticated()" class="nav navbar-nav pull-right">
            <li><a ng-click="auth_logout()">Logout</a></li>
        </ul>

    </div>
    <version></version>
</div>

