/*////////////////////////////////////////////////////////////////////////////////

    * 
    * Developer : (c) Dong-il Park (pdi1066@naver.com)
    * Project : HI-STORY (https://github.com/vulcan9/history)
    * Description : application CSS
    *
    * http://getbootstrap.com/components/
    * http://getbootstrap.com/css/

////////////////////////////////////////////////////////////////////////////////*/

/*//////////////////////////////////////
// 단위 유틸 클래스
//////////////////////////////////////*/

.transition{
    transition: all 0.2s ease;
}
.visible{
    visibility: visible;
}
.hidden{
    visibility: hidden;
}
.active{
    opacity: 1;
}
.deactive{
    opacity: 0.5;
    pointer-events: none;
}

.error{
    border: 1px solid #F00;
    outline: #F00 solid 1px;
}
.error:focus{
    box-shadow: 0 0px 20px rgba(255, 0, 0, 0.7);
    -webkit-box-shadow: 0 0px 20px rgba(255, 0, 0, 0.7);
}
/*
.disable{
    opacity: 0.5;
    pointer-events: none;
}

input.ng-invalid {
  border: 1px solid red;
}
*/
/*//////////////////////////////////////
// Depth 관리
//////////////////////////////////////*/

/*
[depth]
z-index : 

- 500 : .ui-selected
- 600 : 필터링 검색, screen 메뉴 그룹

- 999 : Tree 드래그할때 나타나는 임시 이미지
- 1001 : progressContainer

- 1040 : notice 배경(modal)
- 1050 : notice 창
- 1060 : talk 메세지 표시




(bootstrap)
- 5~15 : .carousel
- 1000 : .dropdown, .navbar-static-top
- 1030 : .navbar-fixed-top, .navbar-fixed-bottom
- 1040 : .modal-backdrop
- 1050 : .modal
- 1070 : .tooltip
- 1060 : .popover
*/


/*//////////////////////////////////////
// Application
//////////////////////////////////////*/

.hi-applicationContainer{
    /*application 설정 완료 후 1로 변경되는 js 코드 있음*/
    /*opacity: 0;
    transition: opacity 1s;*/
    visibility: hidden;

    position: absolute;
    /*border: 1px solid #FF0000;*/
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 10px;

    /* Dock에서 스크롤 유무 계산을 정확히 하기 위해
    (스크롤이 깜빡이면 계산이 부정확해짐)*/
    overflow: hidden;

    min-width: 1280px;
    min-height: 800px;
}

.hi-toolContainer{
    position: relative;
    /*border: 1px solid #FF0000;*/
    height: 100%;
}

/*------------------------------------
// Talk
------------------------------------*/

.hi-talkContainer{
    position: fixed;
    /*border: 1px solid #FF0000;*/
    width: 100%;
    /*height: 100%;*/
    bottom: 90px;
    /*right: 0px;*/
    z-index: 1060;
    /*pointer-events: none;*/
}

.hi-talkContainer .alert {
    padding: 15px;
    padding-right: 35px;
    margin: 20px;

    color: #4b4d4c;
    background-color: rgba(255, 255, 255, 1); 
    border-color: rgba(0, 0, 0, 0.15);

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

    max-width: 500px;
    text-align: center;
    margin: 10px auto;

    /*pointer-events: none;*/
}
.hi-talkContainer .alert-,
.hi-talkContainer .alert-normal {
    color: #4b4d4c;
    background-color: rgba(255, 255, 255, 1); 
    border-color: rgba(0, 0, 0, 0.15);
}
.hi-talkContainer .alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.hi-talkContainer .alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.hi-talkContainer .alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.hi-talkContainer .alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

/* animation */
.hi-talkContainer .talk.ng-enter,
.hi-talkContainer .talk.ng-leave {
    transition:0.2s linear all;
}
.hi-talkContainer .talk.ng-enter,
.hi-talkContainer .talk.ng-leave.ng-leave-active {
  opacity:0;
}
.hi-talkContainer .talk.ng-leave,
.hi-talkContainer .talk.ng-enter.ng-enter-active {
  opacity:1;
}

.hi-talkContainer .talk{
    position: relative;
}
.hi-talkContainer .talk .closeButton {
    position: absolute;
    right: 10px;
    top: calc(50% - 10px);
    width: 20px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
}
.hi-talkContainer .talk .glyphicon:before{
    content: "\e014";
}

/*//////////////////////////////////////
// Split Layout
//////////////////////////////////////*/

.hi-dockOwner{
    position: relative;

    min-width: 20px;
    min-height: 20px;
}

.hi-dock{
    /*position: relative;*/
    display: inline-block;
    /*
    width: 100%;
    height: 100%;
    */
    min-width: 20px;
    min-height: 30px;
    border-right: 1px solid #DDD;
    border-left: 1px solid #DDD; 
    /*margin-left: -1px;*/

    /*transition: all 0.5s ease;*/
    background: #FFF;
}

.hi-dock.top{
    /*background-color: rgba(255,0,0,1);*/
    width: 100%;
}

.hi-dock.left{
    /*background-color: rgba(255,255,0,0.8);*/
    /*float: left;*/
    min-width: 200px;
    box-sizing: content-box;
}

.hi-dock.center{
    /*background-color: rgba(150,150,255,0.6);*/
    /*float: left;*/
    box-sizing: content-box;
    margin-left: 1px;
}

.hi-dock.right{
    /*background-color: rgba(255,0,255,0.4);*/
    /*float: right;*/
    min-width: 200px;
    box-sizing: content-box;
    margin-left: -2px;
}

.hi-dock.bottom{
    /*clear: both;*/
    background-color: rgba(0,255,255,0.2);
    width: 100%;
}

/*//////////////////////////////////////
// Nav Bar (메뉴바 부분)
//////////////////////////////////////*/

.hi-menuContainer{
    position: relative;
    width: 100%;
    height: 100%;
}

/* navbar : bootstrap */

/* 높이 조절
.navbar{
    min-height: 25px;
}
.navbar-brand {
    height: 25px;
    padding: 10px 10px;
    line-height: 20px;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}
*/

.navbar .container{
    width: 100%;
    height: 100%;
}

/*//////////////////////////////////////
// 프로그래스바 (% 표시)
//////////////////////////////////////*/

.hi-progressContainer{
    position: relative;
    z-index: 1001;
}

/*  progress : bootstrap */

/* 로딩바 */
.progress{
    height: 5px;
    margin-bottom: 0px;
    background-color: #D5EAFA;
    border-radius: 0px;
    overflow: visible;

    box-shadow: 0 1px 2px rgba(0,0,0,0);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0);
}
.progress-bar{
    position: absolute;
    top: 0px;
    left: 0px;
    /*transition: none;*/
    transition: width .2s ease;/*default : 0.6s*/
}
.progress-text{
    float: right;;
    color: #428bca;
    margin-top: 3px;
}

.progress.active .progress-bar,
.progress-bar.active{
    /*default: 1s*/
    animation: progress-bar-stripes 1s linear infinite;
    -webkit-animation: progress-bar-stripes 1s linear infinite;
    -o-animation: progress-bar-stripes 1s linear infinite;
}

/*//////////////////////////////////////
//  Property
//////////////////////////////////////*/

.hi-propertyContainer{
    position: relative;
    /*overflow: scroll;*/
    /*display: inline-block;*/
    /*JS코드에서 위치, 크기 동적으로 바뀜*/
    width: 100%;
    height: 100%;
}
.hi-property{
    overflow-x: auto;
    overflow-y: scroll;
    position: absolute;
    /*border: 1px solid #FF0000;*/
    width: 100%;
    height: 100%;
    /*background: #333;*/
    min-width: 30px;
    min-height: 30px;
}

/*//////////////////////////////////////
// 상태 표시줄
//////////////////////////////////////*/

.hi-statusContainer{
    position: relative;
    /*border: 1px solid #FF0000;*/
    width: 100%;
    height: 100%;
    bottom: 0px;
}
.hi-status{
    background: #e7e7e7;
    bottom: 0px;
    width: 100%;
    height: 100%;
    padding: 10px;
}

/*//////////////////////////////////////
// Tree
//////////////////////////////////////*/

.hi-treeContainer{
    position: relative;
    /*overflow: auto;*/
    width: 100%;
    height: 100%;
}

.hi-tree{
    overflow-x: auto;
    overflow-y: scroll;
    position: absolute;
    /*border: 1px solid #FF0000;*/
    width: 100%;
    height: 100%;
    min-width: 30px;
    min-height: 30px;
    /*background: #333;*/
    /*padding: 0px 20px;*/
}

/*------------------------------------
// Paper
------------------------------------*/

.hi-tree .hi-paper {
    /*position: absolute;*/
    /*display: inline-block;*/
    width: 100px;
    
    min-width: 50px;
    min-height: 50px;
    padding: 0px 0px;
    margin: 0px 0px;
    
    font-size: 14px;
    text-align: left;
    
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    
    border: 1px solid #ccc;
    /*border: 1px solid rgba(0,0,0,0.15);*/
    /*border-radius: 4px;*/
    
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.175);
    /*-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);*/

    /*background: #333;*/
}
.hi-tree .hi-paper:hover {
    border: 1px solid #5cb85c;
}

/*
.hi-tree .hi-paper .content{
    position: absolute;
    padding: 10px 10px;
}
*/
 .hi-tree .hi-paper .hi-thumbnail {
    width:100%; 
    height:100%;
    position: absolute; 
    top:0px; 
    left:0px;
    /*border: none; 
    margin: 0; 
    padding: 0;*/
    pointer-events: none;
}

/*----------------
// Tree
-----------------*/

.angular-ui-tree-empty{
    border:1px dashed #bbb;
    min-height:100px;
    background-color:#e5e5e5;
    background-image:-webkit-linear-gradient(45deg,#fff 25%,transparent 25%,transparent 75%,#fff 75%,#fff),-webkit-linear-gradient(45deg,#fff 25%,transparent 25%,transparent 75%,#fff 75%,#fff);
    background-image:-moz-linear-gradient(45deg,#fff 25%,transparent 25%,transparent 75%,#fff 75%,#fff),-moz-linear-gradient(45deg,#fff 25%,transparent 25%,transparent 75%,#fff 75%,#fff);
    background-image:linear-gradient(45deg,#fff 25%,transparent 25%,transparent 75%,#fff 75%,#fff),linear-gradient(45deg,#fff 25%,transparent 25%,transparent 75%,#fff 75%,#fff);
    background-size:60px 60px;
    background-position:0 0,30px 30px
}

.angular-ui-tree {
    position: absolute;
    padding: 50px 30px 50px 30px;
    /*border-left: 1px solid rgba(200,200,200,0.2);*/
}

.angular-ui-tree-nodes{
    display:inline-block;
    position:relative;
}

.angular-ui-tree-nodes .angular-ui-tree-nodes{
    margin-left: 50px;
    padding-left: 30px;
    border-left: 1px solid rgba(200,200,200,0.2);
}

/*선택 표시*/
.hi-tree .hi-paper.selected,
.hi-tree .hi-paper.selected:hover {
    border: 2px solid #5cb85c;
    /*font-weight:bold;*/
}

/*삭제 대상 표시*/
.hi-tree .hi-paper.remove,
.hi-tree .hi-paper.remove:hover,
/*삭제 대상 표시(하위노드까지)*/
.hi-tree .hi-paper.removeAll,
.hi-tree .hi-paper.removeAll + ol .hi-paper {
    border-color: #FF0000;
}

/*----------------
// Tree - handle
-----------------*/

.angular-ui-tree-handle{
    /*cursor:move;*/
    position: relative;
    width: 150px;
}
.angular-ui-tree-handle.select{
    cursor:cell
}
.angular-ui-tree-handle.copy{
    cursor:copy
}

/*----------------
// Tree - drag
-----------------*/

.angular-ui-tree-placeholder,
.angular-ui-tree-node {
    /*border: 1px dotted #FF0000;*/
    margin: 10px 0px;
    font-size: 0;
}

.angular-ui-tree-placeholder{
    border: 1px dashed #DDD;
    background-color: rgba(200,200,200,0.15);
    border-radius: 4px;

    display:inline-block;
    min-width: 100px;
    min-height: 70px;
    padding: 0px 0px;
    margin: 0px 0px;
}
.angular-ui-tree-placeholders-wrapper{
    /*margin-bottom:5px*/
    margin: 10px 0px;
    font-size: 0;
}
/*드래그할때 나타나는 임시 이미지*/
.angular-ui-tree-drag{
    position:absolute;
    pointer-events:none;
    z-index:999;
    opacity:0.8;


    /*paper 모양 class와 같음
    js에서 드래그하는 동안 모양 동적으로 수정해 주어야함

    display: inline-block;
    
    min-width: 100px;
    min-height: 70px;
    padding: 0px 0px;
    margin: 10px 0px;
    
    font-size: 14px;
    text-align: left;
    
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    
    border-radius: 4px;
    
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);

    border: 1px solid #5cb85c;
    */

}

/*----------------
// Tree - drag select
-----------------*/

.angular-ui-tree-node.selected .angular-ui-tree-node>.angular-ui-tree-handle,
.angular-ui-tree-node.selected>.angular-ui-tree-handle{
    background:#DDE7FF;
    border:1px solid #000
}
.angular-ui-tree-node.original>.angular-ui-tree-handle{
    background:#E2E2E2;
    border:1px solid lightgrey
}
.angular-ui-tree-hidden{
    display:none
}

/*----------------
// Tree - content button
-----------------*/

.angular-ui-tree-node .tree-node-content {
    position: absolute;
    width: 100%;
    height: 100%;
    /*background-image: url("http://www.w3schools.com/html/img_logo.gif");*/
}

.angular-ui-tree-node .collapseBtn{
    min-width: 20px;
    min-height: 20px;
    position: absolute;
    left: -28px;
    top: 20px;
}
.angular-ui-tree-node .removeBtn{
    min-width: 20px;
    min-height: 20px;
    position: absolute;
    right: -10px;
    top: 10px;
}
.angular-ui-tree-node .addBtn{
    min-width: 20px;
    min-height: 20px;
    position: absolute;
    right: -10px;
    top: 35px;
}

/*//////////////////////////////////////
// screen
//////////////////////////////////////*/

.hi-screenContainer{
    position: relative;
    /*overflow: auto;*/
    display: inline-block;
    /*JS코드에서 위치, 크기 동적으로 바뀜*/
    width: 100%;
    height: 100%;
}
.hi-screen{
    overflow: auto;
    position: absolute;
    /*border: 1px solid #FF0000;*/
    width: 100%;
    height: 100%;
    /*background: #333;*/
    min-width: 250px;
    min-height: 250px;
}

/*------------------------------------
// Paper
------------------------------------*/

.hi-screen .hi-paper {
    position: absolute;
    display: inline-block;
    padding: 0px 0px !important;;
    margin: 0px 0px !important;;

    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    /*
    js 코드에서 동적으로 변경함
    min-width: 800px;
    min-height: 600px;
    padding: 0px 0px;
    margin: 35px 35px;
    */

    font-size: 14px;
    text-align: left;
    
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    
    /*border: 1px solid #ccc;*/
    /*border: 1px solid rgba(0,0,0,0.15);*/
    /*border-radius: 4px;*/
    outline: rgba(0, 0, 0, 0.15) solid 1px;
    
    box-shadow: 0 0px 10px rgba(0,0,0,.175);
    /*-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);*/

    /*background: #333;*/
}

.hi-screen .hi-paper .hi-background{
    position: absolute;
    overflow:hidden;
    width:100%;
    height:100%;
    
    margin: 1px !important;
    padding: 0px !important;
}

.hi-screen .hi-paper .hi-loading{
    position: absolute;
    border: 1px solid #FF0000;
    padding: 10px 10px;
    top: 0px;
    left: 0px;
}

/*------------------------------------
// 편집모드 전환 버튼
------------------------------------*/

.hi-screen .hi-paper .hi-modeHandle{
    position: absolute;
    width: 20px;
    height: 20px;
    right: -22px;
    top: -22px;
    background: transparent;
    /*display: block !important;*/
    
    color: #bbb;
    border: 2px solid #bbb;
    
    border-radius: 2px;
    z-index: 2 !important;
    cursor: cell;
    text-align: center;

    font-family: 'Glyphicons Halflings';
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}
.hi-screen .hi-paper .hi-modeHandle:hover{
    color: #666;
    border: 2px solid #666;
}

.hi-screen .hi-paper .hi-modeHandle.edit:after{
    content: "\270f";
}
.hi-screen .hi-paper .hi-modeHandle.delete:after{
    content: "\e014";
}

/*//////////////////////////////////////
// ui-resize, ui-selected
//////////////////////////////////////*/

.wire{
  position: absolute;
  z-index: auto;
  padding: 0;

  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

/*보이기, 감추기*/
.wire{
  display:none !important;
}
.wire.ui-selected{
    display:block !important;
}

/*------------------------------------
// ui-selected
------------------------------------*/

.ui-selected{
    z-index: 500;
}

/*선택 상태 표시 (=.ui-draggable-handle)
.ui-selected:after   {
    position:absolute;
    display:block;
    content:"";
    width:100%;
    height:100%;

    padding:0px;
    
    border:1px dashed #E42806;
    z-index: 1001 !important;
    top:0px;
    left:0px;
    pointer-events:none;
}
*/
.ui-selected:not(.ui-draggable):hover{
    cursor:default !important;
}

/*
.ui-selected.hastext:after{
    pointer-events:auto !important;
}
*/

.ui-draggable {
    cursor: move;
}
.ui-draggable-handle {
    position:absolute;
    display:block;
    width:100%;
    height:100%;

    padding:0px;
    
    /*border:1px dashed #E42806;*/
    outline:1px dashed #E42806;
    z-index: 501 !important;
    top:0px;
    left:0px;
    /*pointer-events:none;*/
}

/*------------------------------------
// resize handle
------------------------------------*/

.ui-resizable-handle {
    position: absolute; 
    font-size: 0px; 
    z-index: 501;
}

/*모서리(dot handle)*/
.ui-resizable-n { cursor: n-resize; width: 100%; height: 7px; top: -5px; left: 0px; }
.ui-resizable-s { cursor: s-resize; width: 100%; height: 7px; bottom: -5px; left: 0px; }
.ui-resizable-e { cursor: e-resize; width: 7px; height: 100%; right: -5px; top: 0px; }
.ui-resizable-w { cursor: w-resize; width: 7px; height: 100%; left: -5px; top: 0px; }
.ui-resizable-n, .ui-resizable-s , .ui-resizable-e , .ui-resizable-w{
    /*background-color: rgba(255,0,0,0.1);*/
}
/*변 (line handle)*/
.ui-resizable-se { cursor: se-resize; width: 8px; height: 8px; right: -10px; bottom: -10px; }
.ui-resizable-sw { cursor: sw-resize; width: 8px; height: 8px; left: -10px; bottom: -10px; }
.ui-resizable-nw { cursor: nw-resize; width: 8px; height: 8px; left: -10px; top: -10px; }
.ui-resizable-ne { cursor: ne-resize; width: 8px; height: 8px; right: -10px; top: -10px;}
.ui-resizable-se, .ui-resizable-sw , .ui-resizable-nw , .ui-resizable-ne{
    background-color: rgba(255,255,255,0.7);
}

/*보이기, 감추기*/
.ui-rotate-handle,
.ui-resizable-handle,
.ui-resizable-disabled .ui-resizable-handle, 
.ui-resizable-autohide .ui-resizable-handle,
.ui-resizable-disabled .ui-rotate-handle,
.ui-resizable-autohide .ui-rotate-handle { 
    display: none; 
}
.ui-resizable .ui-resizable-handle{
    display:block;
 }

.ui-rotatable .ui-rotate-handle {
    display:block;
 }

/*------------------------------------
// rotate handle
------------------------------------*/

.ui-rotate-handle{
    /*background-color: rgba(0,0,0,0.5);*/
    border-radius: 10px;
    width: 14px;
    height: 14px;
    color: rgba(255,0,0,1);

    margin: -25px auto;
}
.ui-rotate-handle:hover{
    cursor: default;
    color: rgba(255,0,0,1);
}
.ui-rotate-handle:after{
    font-family: 'Glyphicons Halflings';
    content: "\e030";
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    text-align: center;

    /*text-shadow: 0 0 1px rgba(255, 255, 255, 0.5), 0 0 1px rgba(255, 255, 255, 0.5), 0 0 1px rgba(255, 255, 255, 0.5), 0 0 1px rgba(255, 255, 255, 0.5), 0 0 1px rgba(255, 255, 255, 0.5);*/
    /*text-shadow: rgba(255, 255, 255, 0.5) 0px 0px 1px, rgba(255, 255, 255, 0.5) 0px 0px 1px, rgba(255, 255, 255, 0.5) 0px 0px 1px, rgba(255, 255, 255, 0.5) 0px 0px 1px, rgba(255, 255, 255, 0.5) 0px 0px 1px, rgba(255, 255, 255, 0.5) 0px 0px 1px;*/
    text-shadow: -1px 0 rgba(255, 255, 255, 0.5), 0 1px rgba(255, 255, 255, 0.5), 1px 0 rgba(255, 255, 255, 0.5), 0 -1px rgba(255, 255, 255, 0.5)
}

/*------------------------------------
// 선택 상태일때
------------------------------------*/

.ui-selected .ui-resizable-handle,
.ui-selected .ui-rotate-handle {
    z-index: 1001;
}

.ui-selected .ui-resizable-se , 
.ui-selected .ui-resizable-ne , 
.ui-selected .ui-resizable-sw , 
.ui-selected .ui-resizable-nw{
    border:1px solid rgba(255,0,0,1);
    outline: rgba(255, 255, 255, 0.7) solid 1px;
}
.ui-selected .ui-resizable-se:hover , 
.ui-selected .ui-resizable-ne:hover , 
.ui-selected .ui-resizable-sw:hover , 
.ui-selected .ui-resizable-nw:hover {
    border:1px solid rgba(255,0,0,1);
    outline: rgba(255, 255, 255, 1) solid 1px;
}

/*//////////////////////////////////////
//  드래그한 영역 표시
//////////////////////////////////////*/

/*영역 표시 (크기 표시)*/
.hi-areaDisplay {
    background-color: rgba(0, 0, 0, 0.145098);
    z-index: 501;
    position: absolute;
}

/*투명 표시*/
.hi-areaDisplay.transparent {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIUlEQVQYV2NkYGCQBGJ08BxdgHGIKMTiF0wPgjwz2BUCADTeBYguWvyCAAAAAElFTkSuQmCC);
}

/*마우스 드래그 선택영역 표시*/
.hi-areaDisplay.selector {
    border: 1px dashed #444;
    background: transparent !important;
}

/*//////////////////////////////////////
//  Snap 라인 표시
//////////////////////////////////////*/

.hi-guide {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 500;
}
.hi-guide.vertical {
    border-left: 1px solid #FFDCD6;
    border-left: 1px solid rgba(255, 99, 71, 0.5);
    height: 100%;
}
.hi-guide.horizontal {
    border-top: 1px solid #FFDCD6;
    border-top: 1px solid rgba(255, 99, 71, 0.5);
    width: 100%;
}

/*//////////////////////////////////////
// Jquery-ui Slider
//////////////////////////////////////*/

.ui-slider-tick {
    position: absolute;
    background-color: #aaa;
    width: 2px;
    height: 8px;
    top: 16px;
}