
/*------------------------------------
// Element
------------------------------------*/
.hi-screenContainer .hi-content{
    position: absolute;
    /*border: 1px solid #FF0000;*/
    padding: 0px !important;
    width:100%;
    height:100%;
}

/* document 요소 */
.hi-screenContainer .hi-content div[uid^="document-"],
.hi-screenContainer .hi-content div[uid^="document-"]:hover
.hi-screenContainer .hi-content div[uid^="document-"].selectedElement
.hi-screenContainer .hi-content div[uid^="document-"].selectedElement:hover {
    outline: none;
    position: relative;
}

/* element 요소 */
.hi-screenContainer .hi-content  div[uid^="element-"] {
    /*outline: rgba(0, 216, 255, 0.2) solid 1px;*/
    position: absolute;
}
.hi-screenContainer .hi-content div[uid^="element-"]:hover {
    /*border: none;*/
    outline: rgba(0, 216, 255, 0.1) solid 10px;
}
/*
.hi-screenContainer .hi-content div[uid^="element-"].selectedElement {
    outline: rgba(0, 216, 255, 0.2) solid 1px;
}
.hi-screenContainer .hi-content div[uid^="element-"].selectedElement:hover {
    outline: rgba(255, 194, 0, 0.2) solid 1px;
}
*/
.hi-screenContainer .hi-content div[contenteditable=true],
.hi-screenContainer .hi-content div[contenteditable=true]:hover {
    /*border: none;*/
    outline: rgba(255, 194, 0, 0.2) solid 10000px;
    cursor: text;
}

/*------------------------------------
// Element
------------------------------------*/

div[uid^="element-"].hiElement,
div[uid^="element-"].hiElement > *{
    /*편집 불가*/
    -webkit-user-select :none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;

    overflow:visible;
    /*
    overflow-x:auto;
    overflow-y:auto;
    */
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-line;
    /*텍스트 자동 줄바꿈, 말줄임표 표시
    text-overflow: ellipsis;
    white-space: nowrap;
    */
    
    font-family: '맑은 고딕', '나눔고딕';
    
    /*초기(default) 크기를 지정*/
    width: 100px;
    height: 40px;
    font-size:24px;
}
div[uid^="element-"].hiElement.edit{
    /*편집 허용*/
    -webkit-user-select :initial;
    -moz-user-select:initial;
    -ms-user-select:initial;
    -o-user-select:initial;
    user-select:initial;
}



div[uid^="element-"].hiElement.text{
    background-color: transparent;
    padding: 10px;
}

div[uid^="element-"].hiElement.text > *{
    width: 100%;
    height: auto;
}

div[uid^="element-"].hiElement.text > p{
    margin-bottom: 1em;
}

/*------------------------------------
// Capture Clone 레이어
------------------------------------*/

/*텍스트 옵션, 
<element contenteditable="true|false">

text-align : left|right|center|justify;
text-decoration: none|underline|overline|line-through|initial|inherit;
text-indent: px, pt, cm, em, %
text-overflow: clip|ellipsis|string|initial|inherit; (width 지정되고 overflow: hidden;인 경우)
text-shadow: h-shadow v-shadow blur color|none|initial|inherit;
text-transform: none|capitalize|uppercase|lowercase|initial|inherit; (대소문자 변환)

폰트 옵션
font
@font-face
font-family
font-size
font-size-adjust
font-stretch
font-style
font-variant
font-weight

Paragraphs 옵션
letter-spacing
line-height
list-style
list-style-image
list-style-position
list-style-type

여백 (layout)
margin
margin-bottom
margin-left
margin-right
margin-top
padding
padding-bottom
padding-left
padding-right
padding-top

객체 align (IE11이상 지원)
justify-content: flex-start|flex-end|center|space-between|space-around|initial|inherit;
*/
