<div class="hi-statusContainer">

    <div class="hi-status">

        <version></version>
        
        <!--TODO-->
        <div style="position: absolute; right: 0px;top: 0px;">
            <span class="canvassize"><b>canvas</b>: 999/451px</span>
            <span class="coord"><b>X</b>: 1086 <b>Y</b>: 381</span>
            <span class="dim"><b>W</b>: 240px, <b>H</b>: 160px</span>
            <a href="https://chrome.google.com/webstore/detail/wireframecc/ckdndemedapacbnpapaickknpmojjpmn" class="chrome" target="_blank"><i class="icon-inbox"></i> Get Chrome app </a>
        </div>






    </div>

</div>
